<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <div class="aboutmewrapper section-{{ section.id }}-padding">
     <div class="container">
        <div class="row">
          <div class="col-md-5">
              <div class="image-wrapper bottom-text-wrapper">
                {{ section.settings.img | image_url: width: 3840 | image_tag:
                    loading: 'lazy',
                    height: height,
                    sizes: "100vw",
                    widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                  }}
              </div>
          </div>
          <div class="col-md-7 ">
            <div class="inner-text-content bottom-text-wrapper">
              {{ section.settings.richtext }}
            </div>
          </div>
        </div>
        <div class="row ">
               <div class="col-12">
                     <div class="bottom-text-wrapper">
                 {{ section.settings.text-2 }}
                            </div>
               </div>
        </div>
     </div>
    </div>

{% schema %}
    {
        "name": "About me",
        "class": "aboutme",
        "settings": [
                {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "t:sections.all.padding.padding_top",
                "default": 0
              },
              {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "t:sections.all.padding.padding_bottom",
                "default": 0
              },
         {
            "type": "image_picker",
            "id": "img",
            "label": "Bannner image"
         },
   
         {
            "type": "richtext",
            "id": "richtext",
            "label": "Description"
         },
          
         {
            "type": "richtext",
            "id": "text-2",
            "label": "Description o2 "
         }
        ],
        "presets": [
            {
              "name": "About me"
            }
            ]
    }
{% endschema %}

<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .image-wrapper img {
    width: 100%;
}
 .aboutmewrapper p{
    font-size:18px;
    color: rgba(var(--color-foreground),.75);
  }
  .bottom-text-wrapper{
    margin-top:15px;
   }
</style>

{% javascript %}
{% endjavascript %}