{% if template == 'index' %}
<section class="full-width-box">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-quarter  p-0 m-0">
        <div class="bg_content">
         {% if section.settings.f_link %}<a href="{{ section.settings.f_link }}">{% endif %}
          <img src="{{ section.settings.fimage_box | img_url: 'master' }}" class="img-fluid">
          <h3 class="fade-in-text">{{ section.settings.f_content_heading }}
          <a href="/account/register" class="btn four-column__btn">JOIN NOW FOR FREE</a>
        </h3>
        {% if section.settings.f_link %}</a>{% endif %}

        </div>
      </div>
       <div class="col-quarter p-0 m-0">
         <div class="bg_content">
         {% if section.settings.s_link %}<a href="{{ section.settings.s_link }}">{% endif %}
            <img src="{{ section.settings.simage_box | img_url: 'master' }}" class="img-fluid">
            <h3 class="fade-in-text">{{ section.settings.s_content_heading }}
            <a href="/account/register" class="btn four-column__btn">JOIN NOW FOR FREE</a>
          </h3>
        {% if section.settings.s_link %}</a>{% endif %}

         </div>
      </div>
       <div class="col-quarter p-0 m-0">
         <div class="bg_content">
         
            <img src="{{ section.settings.timage_box | img_url: 'master' }}" class="img-fluid">
            <h3 class="fade-in-text">
              {% if section.settings.t_link %}<a  class="d-block color-reset" href="{{ section.settings.t_link }}">{% endif %}
              {{ section.settings.t_content_heading }}
              {% if section.settings.t_link %}</a>{% endif %}
         
              <a  href="{{ section.settings.t_link }}" class="btn four-column__btn">SHOP NOW</a>
          
          </h3>
      
         </div>
      </div>
       <div class="col-quarter p-0 m-0">
         <div class="bg_content">
        
            <img src="{{ section.settings.fourth_image_box | img_url: 'master' }}" class="img-fluid">
            <h3 class="fade-in-text">
              {% if section.settings.fourth_link %}<a class="d-block color-reset" href="{{ section.settings.fourth_link }}">{% endif %}
              {{ section.settings.fourth_content_heading }}
              {% if section.settings.fourth_link %}</a>{% endif %}
              <a href="{{ section.settings.fourth_link }}" class="btn four-column__btn">SHOP NOW</a>
            </h3>
           
        
         </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<style>
.bg_content a {
 text-decoration:none;
 color: white;
  display:flex;
  flex-direction:column;
  gap:2rem;
  font-weight:900;
}
  .bg_content a p {
    margin: 0;
  }
.bg_content ul li {
color: #fff;}
</style>
{% schema %}
  {
    "name": "Four Column BG Image",
    "settings": [
       {
          "type": "image_picker",
          "id": "fimage_box",
          "label": "First Box Image Upload "
        },
      {
          "type": "richtext",
          "id": "f_content_heading",
          "label": "First Box Title"
        },
      {
        "type": "url",
        "id": "f_link",
        "label": "First Box Link"
      },
       {
          "type": "image_picker",
          "id": "simage_box",
          "label": "Second Box Image Upload "
        },
      {
          "type": "richtext",
          "id": "s_content_heading",
          "label": "Second Box Title"
        },
      {
        "type": "url",
        "id": "s_link",
        "label": "Second Box Link"
      },
       {
          "type": "image_picker",
          "id": "timage_box",
          "label": "Third Box Image Upload "
        },
      {
          "type": "text",
          "id": "t_content_heading",
          "label": "Third Box Title"
        },
      {
        "type": "url",
        "id": "t_link",
        "label": "Third Box Link"
      },
       {
          "type": "image_picker",
          "id": "fourth_image_box",
          "label": "Fourth Box Image Upload "
        },
      {
          "type": "text",
          "id": "fourth_content_heading",
          "label": "Fourth Box Title"
        },
      {
        "type": "url",
        "id": "fourth_link",
        "label": "Fourth Box Link"
      }
    ],
    "presets": [
    {
      "name": "Four Column BG Image"
    }
  ]
  }
{% endschema %}

<style>
  .full-width-box {
    max-width: 100%;
    margin: 0 auto;
}
  .img-fluid {
    max-width: 100%;
    display: block;
    vertical-align: middle;
}

  .col-half {
    max-width: 50%;
    width: 100%;
    flex: 0 0 50%;
}

  .col-third {
    max-width: 33.33%;
    width: 100%;
    flex: 0 0 33.33%;
}

  .col-quarter {
    max-width: 25%;
    width: 100%;
    flex: 0 0 25%;
}
  .color-reset{
    color:#fff;
  }
.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
   .bg_content {
    position: relative;
}

.bg_content h3 {
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    margin: 0;
    width: 100%;
    max-width: 600px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  padding: 0 7rem;
}
@media only screen and (max-width:1200px){
  .bg_content h3{
    padding: 0 2rem;
    font-size: 1.8rem;
  }
}
a.btn {
    border: 1px  solid #ddd;
    padding: 10px 0;
    color: #fff;
}
a.btn:hover{
  border-color: #822523;
}
a.d-block.color-reset {
    color: #fff;
}
a.d-block.color-reset:hover {
    color: #fff;
}
  .bg_content img {
    width: 100%;
    max-height: 315px;
    object-fit: cover;
    /*filter: brightness(.6);*/
}

  .four-column__btn{
    margin-top: 2rem;
    white-space: nowrap;
  }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
</style>
{% javascript %}
{% endjavascript %}